<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="webpages:Version" value="2.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="PreserveLoginUrl" value="true" />
        <add key="ClientValidationEnabled" value="false" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>
    <connectionStrings>
        <add name="AspSQLProvider" connectionString="Server=localhost;Port=5432;Database=AppB2;User Id=postgres;Password=777;"/>
        <add name="DALContext" providerName="System.Data.EntityClient" 
                connectionString="metadata=res://DAL/DAL.DAL.csdl
                |res://DAL/DAL.DAL.ssdl
                |res://DAL/DAL.DAL.msl; 
         provider=Npgsql;provider connection string='Server=localhost; Port=5432;User Id=postgres; 
         Password=777;Database=AppB2;'"/>
    </connectionStrings>
    <system.web>
        
        <compilation debug="true" targetFramework="4.0" />
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>

        <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />

        <authentication mode="Forms">
            <forms loginUrl="~/Login/Index" timeout="720" cookieless="UseCookies"></forms>
        </authentication>

        <machineKey
   validationKey="960A4B301A98C00D3E49B3DE3262CD0D6628479CC997BBE95F5C6DA00E2E700FAEDD2664B5C6452000E82B6A1270299C779006ED83B1DCD27C8DB23CE938D05D"
   decryptionKey="01D7CD7CE538C99B8974D743C6BAEB9EF16C410E023F60E3"
   validation="SHA1"/>

        <sessionState mode="InProc" timeout="30"></sessionState>
        
        <membership defaultProvider="PgMembershipProvider">
            <providers>
                <add name="PgMembershipProvider"
                     type="NauckIT.PostgreSQLProvider.PgMembershipProvider"
                     connectionStringName="AspSQLProvider" requiresUniqueEmail="true" enablePasswordRetrieval="true"
                     enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Encrypted" />
            </providers>
        </membership>
        <roleManager enabled="true" defaultProvider="PgRoleProvider" cacheRolesInCookie="true"
             cookieName=".AspNetRoles" cookiePath="/" cookieProtection="All" cookieRequireSSL="false"
             cookieSlidingExpiration="true" createPersistentCookie="false" cookieTimeout="30" maxCachedResults="25">
            <providers>
                <clear/>
                <add name="PgRoleProvider" type="NauckIT.PostgreSQLProvider.PgRoleProvider"
                     connectionStringName="AspSQLProvider"/>
            </providers>
        </roleManager>
        <profile defaultProvider="PgProfileProvider" enabled="true">
            <providers>
                <clear/>
                <add name="PgProfileProvider" type="NauckIT.PostgreSQLProvider.PgProfileProvider"
                     connectionStringName="AspSQLProvider"/>
            </providers>
            <properties>
                <add name="FirstName"/>
                <add name="LastName"/>
            </properties>
        </profile>


    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
    </system.webServer>
</configuration>