@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    Logged in<br />
    Session id : @Session.SessionID
    <br />
    Email:@Session["Email"]<br />
@*    IsAdmin : @User.IsInRole("admin") <br />
    IsFranchizer : @User.IsInRole("franchize") <br />*@
    @Html.ActionLink("LogOut", "LogOut", "Login")
</body>
</html>
